body {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

button {
  color: black;
  background-color: rgb(239, 180, 108);
  border: 1px solid rgba(59, 48, 48, 0.4);
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

img {
  max-width: 600px;
  border-radius: 10px;
}

.email {
  text-align: center;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: black;
  opacity: 0.9;
  font-weight: 800;
}

p {
  text-align: justify;
  opacity: 0.8;
}
